@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Global Styles  */
@layer base {
  //------------------------------------------//
  // Text Colors                              //
  //------------------------------------------//
  .input-colors {
    @apply text-gray-800 dark:text-gray-100;
  }

  .label-colors {
    @apply text-gray-800 dark:text-gray-300;
  }

  .header-colors {
    @apply text-gray-800  dark:text-gray-100;
  }

  .svg-colors {
    @apply  text-gray-500 dark:text-gray-400;
  }

  .text-colors {
    @apply text-gray-800  dark:text-gray-400;
  }




  //------------------------------------------//
  // Background Colors                        //
  //------------------------------------------//
  // default background colors
  .bg-default {
    @apply bg-white dark:bg-gray-800;
  }
  
  // Input specific background theme
  .bg-disabled {
    @apply bg-gray-100 dark:bg-gray-700
  }




  //------------------------------------------//
  // Outline and Border                       //
  //------------------------------------------//
  // Default outline styles
  .outline-css {
    @apply
      outline rounded-md
      outline-1 -outline-offset-1 
      focus:outline-2 focus:-outline-offset-2;
  }

  .outline-styles {
    @apply outline-default outline-focus;
  }

  // default outline colors
  .outline-default {
    @apply outline-gray-300 dark:outline-gray-700;
  }

  .outline-focus {
    @apply focus:outline-indigo-600 dark:focus:outline-indigo-500;
  }

  // default border colors
  .border-styles {
    @apply border-default border-focus;
  }

  .border-default {
    @apply border-gray-300 dark:border-gray-600;
  }

  .border-focus {
    @apply focus:border-indigo-600 dark:focus:border-indigo-500;
  }




  //------------------------------------------//
  // Text Sizes                               //
  //------------------------------------------//
  // Input headers
  label {
    @apply font-medium text-sm;
  }
  
  // Description Elements
  label, div, p {
    @apply text-sm; /* TODO: media query fonts sm:text-sm/6 */
  }
  
  // misc text
  span {
    @apply text-xs;
  }

  // input elements
  select, input, textarea {
    @apply text-sm;
  }




  //------------------------------------------//
  // Error Themes                             //
  //------------------------------------------//
  // Error text
  .error {
    @apply 
      text-red-400 dark:text-red-500
    ;
  }

  // outline errors
  .error-outline {
    @apply
      outline-red-400 dark:outline-red-500
      focus:outline-red-500 dark:focus:outline-red-400
      placeholder:text-red-400 dark:placeholder:text-red-500
    ;
  }

  // border errors
  .error-border { 
    @apply
      border-red-400 dark:border-red-600;
  }


  .disabled {
    @apply 
    bg-gray-300 dark:bg-gray-700
    outline-gray-400 dark:outline-gray-600 
    outline-2 -outline-offset-2
    
    placeholder:text-slate-500 dark:placeholder:text-slate-400 
    text-gray-500 dark:text-gray-400 
    ;
  }




  //------------------------------------------//
  // Element Text Colors                      //
  //------------------------------------------//
  // Headers
  h1, h2, h3, h4, h5, h6 {
    @apply header-colors;
  }

  // text containers
  div, p, span {
    @apply text-colors; 
  }

  // Headers
  label {
    @apply label-colors;
  }

  // Inputs
  input, select, textarea {
    @apply 
      input-colors
      placeholder:text-gray-400  dark:placeholder:text-gray-500;
  }

  // Svg colors
  svg {
    @apply svg-colors;
  }




  //------------------------------------------//
  // Input Specific Styling                   //
  //------------------------------------------//
  input, select, textarea {
    @apply 
      bg-default autofill-backgrounds
      outline-css outline-styles px-3 py-2
      transition-all;
  }

  label {
    @apply cursor-text;
  }

  //------------------------------------------//
  // Hack to native autofill text color       //
  //------------------------------------------//
  input:-webkit-autofill, 
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active { 
    -webkit-text-fill-color: theme('colors.gray.800') !important;
    transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s; /* The only way to beat FieldText !important is with this infinite hack */
  }

  .dark input:-webkit-autofill, 
  .dark input:-webkit-autofill:hover, 
  .dark input:-webkit-autofill:focus, 
  .dark input:-webkit-autofill:active { 
    -webkit-text-fill-color: theme('colors.gray.100') !important;
  }


}

@layer components {
  //------------------------------------------//
  // Component Themes                         //
  //------------------------------------------//

  // Radio button styles
  .radio-button {
    @apply 
      p-[6px] appearance-none mr-1 rounded-lg cursor-pointer 
      border-2 checked:outline checked:outline-[5px] checked:-outline-offset-[5px]
      disabled:checked:outline-[5px] disabled:checked:-outline-offset-[5px] 
      
      bg-white border-gray-300
      checked:bg-white checked:outline-indigo-500 
      disabled:bg-gray-300 disabled:border-gray-400 
      disabled:checked:bg-gray-300 disabled:checked:outline-indigo-500
      
      dark:bg-gray-800 dark:border-gray-700
      dark:checked:bg-white
      dark:disabled:bg-gray-400 dark:disabled:border-gray-500 
      dark:disabled:checked:bg-gray-300;
  }

  .checkmark {
    // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  // This removes native backgrounds and lets us customize
  .autofill-backgrounds {
    @apply 
      autofill:shadow-[inset_0_0_0px_1000px_theme(colors.gray.100)]
      dark:autofill:shadow-[inset_0_0_0px_1000px_theme(colors.gray.800)]
    ;
  }
  
  //------------------------------------------//
  // Flex Themes                              //
  //------------------------------------------//
  .flexRow { @apply flex flex-row justify-start; }
  .flexCol { @apply flex flex-col items-start; }

}


/* Selectors quick ref
  - children of a specific html tag '[&>p]:'
  - all descendants of a tag '[&_p]:'
  - specific classes '[&_.tooltip]:'
*/
