@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */


//------------------------------------------//
// Project Theme Colors                     //
//------------------------------------------//
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


/* Global Styles  */
@layer base {
  //------------------------------------------//
  // Text Colors                              //
  //------------------------------------------//
  .input-colors   { @apply text-slate-800     dark:text-slate-200; }
  .label-colors   { @apply text-slate-800     dark:text-slate-300; }
  .header-colors  { @apply text-slate-800     dark:text-slate-100; }
  .svg-colors     { @apply  text-slate-500    dark:text-slate-400; }
  .text-colors    { @apply text-slate-900     dark:text-slate-400; }
  
  .placeholder-text { @apply text-slate-400   dark:text-slate-500; }
  .disabled-text    { @apply text-gray-500    dark:text-gray-400; }
  .warning-text     { @apply text-amber-600   dark:text-amber-400; }
  .error-text       { @apply text-red-700     dark:text-red-500; }
  .ok-text          { @apply text-emerald-600 dark:text-emerald-400; }

  .primary-text     { @apply text-blue-500 dark:text-blue-500; }
  .link-text {
    @apply
      primary-text cursor-pointer transition duration-300
      hover:theme-focus-2 dark:hover:theme-focus

      focus:underline dark:focus:underline
      hover:underline dark:hover:underline;
  }




  //------------------------------------------//
  // Element Text Colors                      //
  //------------------------------------------//
  h1, h2, h3, h4, h5, h6  { @apply header-colors; }
  div, p, span            { @apply text-colors; }
  label                   { @apply label-colors; }
  input, select, textarea { @apply input-colors placeholder:placeholder-text }
  svg                     { @apply svg-colors; }




  //------------------------------------------//
  // Background Colors                        //
  //------------------------------------------//
  html, body {
    min-height: 100vh;
    @apply bg-default;
  }

  // Quick utility styles for adjusting theme colors without creating new classes
  .theme-focus    { @apply hover:brightness-150  active:brightness-90; }
  .theme-focus-1  { @apply hover:brightness-110  active:brightness-90; }
  .theme-focus-2  { @apply hover:brightness-125  active:brightness-90; }


  // default background colors
  .bg-default   { @apply bg-white     dark:bg-slate-800; }
  .bg-div       { @apply bg-slate-100 dark:bg-slate-900; }
  .bg-div-light { @apply bg-slate-400 dark:bg-slate-700; }
  .bg-primary   { @apply bg-blue-600  dark:bg-blue-500; }
  
  // Input specific background theme
  .bg-disabled { @apply  bg-gray-300  dark:bg-gray-700; }

  // Button colors
  .btn-primary      { @apply btn-primary-colors     hover:btn-primary-hover     focus:btn-outline-blue;  }
  .btn-gray         { @apply btn-gray-colors        hover:btn-gray-hover        focus:btn-outline-blue;  }
  .btn-gray-focus   { @apply btn-gray-focus-colors  hover:btn-gray-focus-hover  focus:btn-outline-blue;  }
  .btn-text         { @apply input-colors; }

  .btn-outline-white  { @apply outline-slate-200 dark:outline-slate-200; }
  .btn-outline-blue   { @apply   outline-focus; }

  .btn-primary-colors { @apply bg-indigo-600 dark:bg-indigo-500 outline-indigo-600 dark:outline-indigo-600; }
  .btn-primary-hover { @apply bg-indigo-500 dark:bg-indigo-400; }
  
  .btn-gray-colors { @apply bg-div-light outline-slate-400 dark:outline-slate-700; }
  .btn-gray-hover { @apply bg-slate-300 dark:bg-slate-600; }
  
  .btn-gray-focus-colors { @apply bg-default outline-white dark:outline-slate-800; }
  .btn-gray-focus-hover { @apply bg-slate-200 dark:bg-slate-700; }

  // hover states
  .bg-div-hover { @apply bg-slate-200 dark:bg-slate-800; }




  //------------------------------------------//
  // Outline and Border                       //
  //------------------------------------------//
  // Default outline styles
  .outline-init   { @apply outline rounded-md outline-1 -outline-offset-1; }
  .outline-styles { @apply outline-default focus:outline-focus; }
  .outline-css {
    @apply
      outline-init
      focus:outline-2 focus:-outline-offset-2;
  }

  .outline-default  { @apply outline-blue-300   dark:outline-slate-700; }
  .outline-focus    { @apply outline-blue-500   dark:outline-indigo-500; }
  .outline-warning  { @apply outline-amber-600  dark:outline-amber-400; }
  .outline-error    { @apply outline-red-500    dark:outline-red-600; }
  .outline-ok       { @apply outline-emerald-600 dark:outline-emerald-400; }

  
  // Border styles
  .border-styles    { @apply border-default focus:border-focus; }
  .border-default   { @apply border-blue-300    dark:border-slate-700; }
  .border-div       { @apply border-slate-300   dark:border-slate-900; }
  .border-focus     { @apply border-blue-500    dark:border-indigo-500; }
  .border-warning   { @apply border-amber-500   dark:border-amber-400; }
  .border-error     { @apply border-red-400     dark:border-red-500; }
  .border-ok        { @apply border-emerald-600 dark:border-emerald-400; }
  




  //------------------------------------------//
  // Icons                                    //
  //------------------------------------------//
  .svg-default-theme {
    @apply text-blue-300 dark:text-slate-400;
  }
  
  .svg-outline-theme {
    @apply text-blue-300 dark:text-slate-400;
  }




  //------------------------------------------//
  // Text Sizes                               //
  //------------------------------------------//
  /* TODO: media query fonts sm:text-sm/5 */
  label                   { @apply text-sm font-medium; }
  span                    { @apply text-xs; }
  label, div, p           { @apply text-sm; }
  select, input, textarea { @apply text-sm; }

  h1, h2, h3, h4, h5, h6  { @apply font-medium; }
  h1                      { @apply text-[3rem] py-3; }
  h2                      { @apply text-[2rem] py-1.5; }
  h3                      { @apply text-[1.5rem] py-1; }
  h4                      { @apply text-[1.25rem]; }
  h5                      { @apply text-[1rem]; }
  h6                      { @apply text-sm; }




  //------------------------------------------//
  // Input Specific Styling                   //
  //------------------------------------------//
  label { @apply cursor-text; }
  input, select, textarea {
    @apply 
      bg-default autofill-backgrounds
      outline-css outline-styles px-3 py-2
      transition;
  }

  textarea {
    @apply scrollbar-theme transition;
    resize: none;

  }




  //------------------------------------------//
  // Selected Themes                          //
  //------------------------------------------//
  /* For containers that need highlighting when selected  */
  .selected-box { 
    @apply 
      bg-opacity-20 dark:bg-opacity-20
      bg-blue-600 dark:bg-blue-500
      outline-focus 
  }

  .warning-box {
    @apply 
      bg-opacity-10 dark:bg-opacity-10
      bg-amber-500 dark:bg-amber-400
      outline-amber-500 dark:outline-amber-400;
  }

  .ok-box {
    @apply
      bg-opacity-10 dark:bg-opacity-10
      bg-emerald-500 dark:bg-emerald-400
      outline-emerald-500 dark:outline-emerald-400;
  }
  
  .error-box {
    @apply
      bg-opacity-30 dark:bg-opacity-10
      bg-red-500 dark:bg-red-500
      outline-red-500 dark:outline-red-600;
  }
  
  .faded-box { 
    @apply 
      bg-opacity-20 dark:bg-opacity-40
      bg-div
      outline-default 
  }
  
  .input-error {
    @apply 
      input-colors placeholder:error-text
      outline-error
  }

  .input-disabled {
    @apply 
      disabled-text placeholder:disabled-text
      bg-disabled
      outline-gray-400  dark:outline-gray-600;
  }



  //------------------------------------------//
  // Layout Themes                            //
  //------------------------------------------//
  .row        { @apply flex flex-row; }
  .col        { @apply flex flex-col; }
  .rowStart   { @apply flex flex-row justify-start; }
  .rowBetween { @apply flex flex-row justify-between; }
  .colStart   { @apply flex flex-col justify-start; }

  .spacing    { @apply grid grid-cols-12 gap-x-4 gap-2  col-span-12; }
  .span-12    { @apply col-span-12; }
  .span-11    { @apply col-span-11; }
  .span-10    { @apply col-span-10; }
  .span-9     { @apply col-span-9; }
  .span-8     { @apply col-span-8; }
  .span-7     { @apply col-span-7; }
  .span-6     { @apply col-span-6; }
  .span-5     { @apply col-span-5; }
  .span-4     { @apply col-span-4; }
  .span-3     { @apply col-span-3; }
  .span-2     { @apply col-span-2; }
  .span-1     { @apply col-span-1; }

  .text-shadow-2xs  { text-shadow: 0px 1px 0px rgb(0 0 0 / 0.15); }
  .text-shadow-xs   { text-shadow: 0px 1px 1px rgb(0 0 0 / 0.2); }
  .text-shadow-sm   { text-shadow: 0px 1px 0px rgb(0 0 0 / 0.075), 0px 1px 1px rgb(0 0 0 / 0.075), 0px 2px 2px rgb(0 0 0 / 0.075) }
  .text-shadow-md   { text-shadow: 0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1), 0px 2px 4px rgb(0 0 0 / 0.1); }
  .text-shadow-lg   { text-shadow: 0px 1px 2px rgb(0 0 0 / 0.1), 0px 3px 2px rgb(0 0 0 / 0.1), 0px 4px 8px rgb(0 0 0 / 0.1); }
  .text-shadow-none { text-shadow: none; }


  //------------------------------------------//
  // Utility                                  //
  //------------------------------------------//
  .transition { 
    @apply transition-all duration-200; 
    
    transition-property: all, outline-color, outline-width, outline-offset;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .op-init    { @apply transition duration-300 opacity-0; }
  .op-render  { @apply opacity-100; }

  // Faded borders for creating overlays and subtle shading for background
  .opacity-bg-0    { @apply bg-opacity-0    dark:bg-opacity-0; }
  .opacity-bg-10   { @apply bg-opacity-10   dark:bg-opacity-10; }
  .opacity-bg-20   { @apply bg-opacity-20   dark:bg-opacity-20; }
  .opacity-bg-30   { @apply bg-opacity-30   dark:bg-opacity-30; }
  .opacity-bg-40   { @apply bg-opacity-40   dark:bg-opacity-40; }
  .opacity-bg-50   { @apply bg-opacity-50   dark:bg-opacity-50; }
  .opacity-bg-60   { @apply bg-opacity-60   dark:bg-opacity-60; }
  .opacity-bg-70   { @apply bg-opacity-70   dark:bg-opacity-70; }
  .opacity-bg-80   { @apply bg-opacity-80   dark:bg-opacity-80; }
  .opacity-bg-90   { @apply bg-opacity-90   dark:bg-opacity-90; }
  .opacity-bg-100  { @apply bg-opacity-100  dark:bg-opacity-100; }

  .svg-theme {
    @apply svg-init text-colors hover:primary-text;
  }

  .svg-init {
    @apply transition cursor-pointer;
  }




  //------------------------------------------//
  // Hack for native autofill text color      //
  //------------------------------------------//
  // This removes native input backgrounds and lets us customize
  .autofill-backgrounds {
    @apply 
      autofill:shadow-[inset_0_0_0px_1000px_theme(colors.slate.100)]
      dark:autofill:shadow-[inset_0_0_0px_1000px_theme(colors.slate.800)]
    ;
  }

  // Radio button styles
  .radio-button {
    @apply 
      p-[6px] mt-[2px] appearance-none mr-1 rounded-lg cursor-pointer transition-all duration-200

      /* Adjusted border to create the selected radio circle icon */
      border-2 checked:outline checked:outline-[5px] checked:-outline-offset-[5px]
      disabled:checked:outline-[5px] disabled:checked:-outline-offset-[5px] 
      

      /******************** 
      * Light Theme       *
      ********************/
      /* outer circle */
      border-slate-300
      disabled:border-slate-300 

      /* inner circle */
      bg-white 
      disabled:bg-slate-300
      
      /* Radio Selected Circle (Outer) */
      checked:outline-indigo-500 
      disabled:checked:outline-slate-400

      /* Radio Selected Circle (Inner) */
      checked:bg-white 
      disabled:checked:bg-slate-200


      /******************** 
      * Dark Theme        *
      ********************/
      /* outer circle */
      dark:border-slate-500
      dark:disabled:border-slate-600 

      /* inner circle */
      dark:bg-slate-800 
      dark:disabled:bg-slate-700
      
      /* Radio Selected Circle (Outer) */
      dark:checked:outline-indigo-500 
      dark:disabled:checked:outline-slate-500

      /* Radio Selected Circle (Inner) */
      dark:checked:bg-slate-100
      dark:disabled:checked:bg-slate-400
    ;
  }

  // the scrollbar themes
  .scrollbar-none {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .scrollbar-theme {
    @apply scrollbar-theme-base;
    &::-webkit-scrollbar {
      width: 0.74rem;
    }
  }

  .scrollbar-theme-thin {
    @apply scrollbar-theme-base;
    &::-webkit-scrollbar {
      width: 0.54rem;
    }
  }
  
  .scrollbar-theme-base {
    &::-webkit-scrollbar {
      width: 0.74rem;
      // border-bottom-right-radius: 0.375rem;
      // border-top-right-radius: 0.375rem;
      border-radius: 0.375rem;
      background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    }

    &::-webkit-scrollbar-track {
      border-radius: 0.375rem;
      background-color: rgb(51 65 85 / var(--tw-bg-opacity));
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.375rem;
      background-color: rgb(148 163 184 / var(--tw-text-opacity)) /* #94a3b8 */;
    }
  }




  //------------------------------------------//
  // Hack for native autofill text color      //
  //------------------------------------------//
  input:-webkit-autofill, 
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active { 
    -webkit-text-fill-color: theme('colors.slate.800') !important;
    transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s; /* The only way to beat FieldText !important is with this infinite hack */
  }

  .dark input:-webkit-autofill, 
  .dark input:-webkit-autofill:hover, 
  .dark input:-webkit-autofill:focus, 
  .dark input:-webkit-autofill:active { 
    -webkit-text-fill-color: theme('colors.slate.100') !important;
  }


}




/* Project and Component Layers  */
@layer components {
  //------------------------------------------//
  // Home Page Themes                         //
  //------------------------------------------//
  .home-bg-init {
    @apply span-12 pt-24 bg-slate-800 dark:bg-slate-800;
  }

  .home-bg-lg-lottie { @apply w-full h-full -mr-[20vw] -mt-20; }
  .home-bg-lg { 
    @apply home-bg-init 
      absolute top-0 left-0 right-0 bottom-0 
      row justify-end items-center overflow-hidden; 
  }

  .home-bg-sm-lottie { @apply w-full; }
  .home-bg-sm { 
    @apply home-bg-init; 
  }




  .tab-default {
    @apply 
      py-3 px-2 transition cursor-pointer duration-200
      text-xl label-colors hover:primary-text

      border-b-2 border-transparent 
      hover:border-b-2 active:border-b-2
      hover:border-blue-500 dark:hover:border-blue-500
      
    ;
  }

  .tab-active {
    @apply border-blue-500 dark:border-blue-500;
  }


  //------------------------------------------//
  // Footer Page Themes                       //
  //------------------------------------------//
  .footer-link-styles {
    @apply 
    hover:primary-text active:link-text 
    text-base cursor-pointer transition;
  }

  .footer-link-header {
    @apply footer-link-styles label-colors font-medium;
  }

  .footer-link { 
    @apply footer-link-styles text-colors;
  }


  //------------------------------------------//
  // Components                               //
  //------------------------------------------//
  .dropdown-icon {
    @apply 
      size-7 text-colors
      cursor-pointer transition duration-300
      hover:theme-focus-2 
    ;
  }

  .dropdown-link-container {
    @apply
      spacing gap-1 transition
      p-1 outline-css outline-styles
    ;
  }

  .dropdown-link-icon { 
    @apply size-4 cursor-pointer transition hover:theme-focus-2;
  }

  .dropdown-link-text {
    @apply
      cursor-pointer transition duration-300 
      hover:theme-focus-2 dark:hover:theme-focus-2
      
      focus:underline dark:focus:underline
      hover:underline dark:hover:underline;
  }

  .dropdown-env { 
    @apply
      px-[5px] py-[4px] italic font-medium 
      bg-slate-200 dark:bg-slate-900
      outline-css outline-default
      transition duration-300 opacity-75 dark:opacity-75
      hover:opacity-100 dark:hover:opacity-100
      dark:hover:theme-focus-2
    ;
  }


  //------------------------------------------//
  // Documentation Page Themes                //
  //------------------------------------------//
  // Sidebar
  .sidebar {
    @apply
      h-0 min-h-[100%] /* Dependent on parent height */
      overflow-hidden overflow-y-auto scrollbar-theme-thin 
      bg-div border-r border-default
    ;
  }
  
  .sidebar-link-header {
    @apply 
      sidebar-link-base
      text-lg font-medium
      label-colors 
    ;
  }
  
  .sidebar-link {
    @apply
      sidebar-link-base
      text-base font-normal
      text-colors
      
      border-l border-default
      hover:border-l-2 hover:border-focus
    ;
  }
  
  .sidebar-link-base {
    @apply
      py-[0.35rem] whitespace-nowrap
      cursor-pointer transition duration-300 
    ;
  }
  
  .sidebar-link-base:hover { @apply primary-text; }
  .sidebar-link-base:active { @apply link-text; }


  // Hashbar
  .hashbar {
    @apply 
      h-0 min-h-[100%] /* Dependent on parent height */
      overflow-hidden overflow-y-auto scrollbar-none
      border-l border-default
    ;
  }
  
  .hashbar-link-header {
    @apply 
      hashbar-link-base
      text-base text-colors font-normal 
    ;
  }

  .hashbar-link {
    @apply 
      hashbar-link-base
      text-sm placeholder-text 
      
      my-[0.1rem]
      border-l border-default
      hover:border-l-2 hover:border-focus
    ;
  }
  
  .hashbar-link-base {
    @apply 
      py-[0.15rem] whitespace-nowrap
      cursor-pointer transition duration-300 
    ;
  }


  //------------------------------------------//
  // Documentation Page Themes                //
  //------------------------------------------//
  .showcase-element-container {
    @apply
      p-4 
      faded-box outline-css
    ;
  }

  .showcase-text {
    @apply text-colors text-lg;
  }

  .showcase-jsx-copy-snippet {
    @apply
      absolute z-10 top-0 right-0 
      cursor-pointer transition
      
      outline-css outline-default
      hover:selected-box
    ;
  }
  
  // ParamItem Css
  .param-item-table {
    @apply bg-div outline-css outline-styles
    
      /* Quick selector for first three (this is not necessary, but we're using a weird grid layout) */
      [&>*:nth-child(-n+3)]:bg-default
      [&>*:nth-child(-n+3)]:opacity-bg-40
    ;
  }

  .param-item-base {
    @apply 
      p-3 rowStart items-center
      border-t border-r border-default
      
      /* Table border rounding */
      [&:nth-child(1)]:rounded-tl-md /* top left corner */
      [&:nth-child(3)]:rounded-tr-md /* top right corner */
      [&:nth-last-child(3)]:rounded-bl-md /* bottom left corner */
      [&:nth-last-child(1)]:rounded-br-md /* bottom right corner */
    ; 
  }

  .param-item-name { 
    @apply 
      py-0.5 px-1.5 
      text-blue-500 dark:text-blue-500
      
      bg-opacity-10 dark:bg-opacity-20
      bg-blue-600 dark:bg-blue-500
      
      // outline-init rounded-none
      // outline-blue-500/50   dark:outline-indigo-500/50
    ; 
  }

  .param-item-type { 
    @apply param-item-base; 
  }

  .param-item-desc { 
    @apply param-item-base; 
  }
  
  .param-item-desc-text { 
    @apply text-colors; 
  }
  
  .param-item-spacing { 
    @apply py-3 border-t border-default; 
  }
  
  .param-item-context {
    @apply selected-box;
  }
  
  .param-item-variant-opt {
    @apply ok-box;
  }


  // ParamType
  .param-type {
    @apply
      py-[0.15rem] px-1.5 transition
      text-sm font-semibold
      
      bg-opacity-40 dark:bg-opacity-30
      bg-gray-300 dark:bg-gray-600
    ;
  }

  .param-type-string {
    @apply text-purple-600/90 dark:text-purple-500/90;
  }
  
  .param-type-number {
    @apply text-blue-500 dark:text-blue-500;
  }
  
  .param-type-boolean {
    @apply text-rose-600/90 dark:text-red-600/90;
  }
  
  .param-type-custom {
    @apply text-emerald-500/90 dark:text-green-500/90;
  }


  // Showcase Element State Buttons (default, error, disabled)
  .element-state { 
    @apply 
      cursor-pointer transition duration-300
      px-2 py-1.5 outline-css rounded-full 
      text-sm font-semibold italic 
      placeholder-text outline-default
      
      hover:primary-text hover:outline-focus
    ; 
  }

  .element-state-selected { @apply primary-text outline-focus; }




}




@layer utilities {
  //------------------------------------------//
  // Utilities                                //
  //------------------------------------------//
  // The grid height transition hack (child div needs overflow:hidden
  .height-trans {
    @apply grid transition-[grid-template-rows] duration-300 ease-in-out;
  } // transition between grid-rows-[0fr] and [1fr] for transition
  
  .height-trans-opacity {
    @apply grid;
    transition:
      grid-template-rows 0.3s ease,
      opacity 0.3s ease,
      visibility 0s linear 0.3s;
  }

  // Column Layout hack. Aligns all values in a specific column based on the longest one.
  .dual-column-3 { // recreate for number of columns what needs to use 1fr for content fills 
    @apply grid grid-cols-[min-content_min-content_1fr];
  }
  
  .height-trans-content {
    @apply overflow-hidden;
  }
  .height-trans-op-content {
    visibility: visible;
    transition-delay: 0s;
  }

  // Theme transition class
  .disable-transitions,
  .disable-transitions *,
  .disable-transitions *::before,
  .disable-transitions *::after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
  }

  /* This is intended for the animation bars */
  .loading-bar-css {
    @apply 
      p-[1px] w-2/3 bg-primary 
      absolute bottom-0 left-0 
      group-focus-within:p-[2px]
    ;
  } // Parent needs "relative overflow-hidden"

  .loading-text { @apply animate-skeleton-text dark:animate-skeleton-text-dark; }
  .loading-bar { @apply animate-skeleton-bar dark:animate-skeleton-bar-dark; }
  .skeleton-bg { @apply animate-skeleton-bg dark:animate-skeleton-bg-dark; }
}

/* Selectors quick ref
  - children of a specific html tag '[&>p]:'
  - all descendants of a tag '[&_p]:'
  - specific classes '[&_.tooltip]:'
*/
