@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Global Styles  */
@layer base {
  // Theme text colors
  div, p {
    @apply text-slate-800  dark:text-slate-400;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-slate-600  dark:text-slate-200;
  }

  select {
    @apply text-slate-800 dark:text-slate-300;
  }

  svg {
    @apply  text-slate-500 dark:text-slate-400;
  }

}

/* Selectors

  - children of a specific html tag '[&>p]:'
  - all descendants of a tag '[&_p]:'
  - specific classes '[&_.tooltip]:'
*/